#spring.jpa.database=MYSQL
#spring.jpa.show-sql=true
#spring.jpa.hibernate.ddl-auto=update
#spring.datasource.url=jdbc:mysql://localhost:3306/ejemplosp2?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
#spring.datasource.username=root
#spring.datasource.password=mysql

spring.jpa.database=POSTGRESQL
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql://localhost:5432/ejemplosp2
spring.datasource.username=postgres
spring.datasource.password=sql
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

#Ejecutar solo la primera vez para llenar Data de las localidades
spring.datasource.initialization-mode=always