<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
		<!-- MENSAJES -->
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info alert-dismissable" th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		
		<div class="container" align="right">	
			<span th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</span>
        		<form th:action="@{/logout}" method="post">
            		<input type="submit" value="Cerrar Sesion"/>
        		</form>
		</div>


	<div class="container">
		<br>
		<div>
			<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay personas</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Persona</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido Paterno</th>
						<th>Apellido Materno</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th>Email</th>
						<th>Tipo de Empleado</th>
						<th>Departamento</th>
						<th>EstadoCivil</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empleado : ${list}">
						<td th:text=${empleado.nombre}></td>
						<td th:text=${empleado.apellidoP}></td>
						<td th:text=${empleado.apellidoM}></td>
						<td th:text=${empleado.direccion}></td>
						<td th:text=${empleado.telefono}></td>
						<td th:text=${empleado.email}></td>
						<td th:text=${empleado.tipoEmpleado.tipoEmpleado_desc}></td>
						<td th:text=${empleado.departamento.desc_departamento}></td>
						<td th:text=${empleado.estadoCivil.estadoCivil_desc}></td>
						<td><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-info" th:href="@{/save/{id}(id=${empleado.id})}">Editar</a></td>
						<td><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger" th:href="@{/delete/{id}(id=${empleado.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	
</body>
</html>