<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Personas</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script type="text/javascript" src="../static/js/Localidades.js" th:src="@{/js/Localidades.js}"></script>

 <script src="https://code.jquery.com/jquery-1.10.2.js">

 </script>

</head>


<body>
	<!-- MENSAJES -->
	<div class="alert alert-success alert-dismissable"
		th:if="${success != null}">
		<label th:text="${success}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div class="alert alert-danger alert-dismissable"
		th:if="${error != null}">
		<label th:text="${error}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div class="alert alert-warning alert-dismissable"
		th:if="${warning != null}">
		<label th:text="${warning}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div class="alert alert-info alert-dismissable" th:if="${info != null}">
		<label th:text="${info}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>

	<div class="container">
		<br>
		<h2>Agregar Empleado</h2>
		<br>
		<form action="#" th:action="@{/save}" class="form-group"
			th:object="${empleado}" method="post" id="data">

			<input type="hidden" th:field="*{id}" id="id" name="id">

			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text"
					class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
				</small>
			</div>
			
			<div class="form-group">
				<label for="apellidoP">Apellido Paterno</label> <input type="text"
					class="form-control" id="apellidoP" th:field="*{apellidoP}"
					name="apellidoP"> <small class="form-text text-danger"
					th:if="${#fields.hasErrors('apellidoP')}" th:errors="*{apellidoP}">
				</small>
			</div>
			
			<div class="form-group">
				<label for="apellidoM">Apellido Materno</label> <input type="text"
					class="form-control" id="apellidoM" th:field="*{apellidoM}"
					name="apellidoM"> <small class="form-text text-danger"
					th:if="${#fields.hasErrors('apellidoM')}" th:errors="*{apellidoM}">
				</small>
			</div>
			
			<div class="form-group">
				<label for="direccion">Direccion</label> <input type="text"
					class="form-control" id="direccion" th:field="*{direccion}"
					name="direccion"> <small class="form-text text-danger"
					th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">
				</small>
			</div>
			
			<div class="form-group">
				<label for="telefono">Telefono</label> <input type="text"
					class="form-control" id="telefono" th:field="*{telefono}"
					name="telefono"> <small class="form-text text-danger"
					th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
				</small>
			</div>
			
			<div class="form-group">
				<label for="email">Email</label> <input type="text"
					class="form-control" id="email" th:field="*{email}" name="email">
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</small>
			</div>
			
			<div class="form-group">
				<label for="tipoEmpleado">Tipo de Empleado</label> 
				
				<select th:if="${selectedOn==null}" class="form-control" id="tipoEmpleado" name="tipoEmpleado">
					<option value="0">Seleccione</option>
					<option th:each="te:${listaTipoEmpleado}" th:value="${te.tipoEmpleado_id}" th:text="${te.tipoEmpleado_desc}"/>
				</select>
				
				<select th:if="${selectedOn}" class="form-control" id="tipoEmpleado" name="tipoEmpleado">
					<option value="0">Seleccione</option>
					<option th:each="te:${listaTipoEmpleado}" th:value="${te.tipoEmpleado_id}" th:text="${te.tipoEmpleado_desc}"
					th:selected="${empleado.tipoEmpleado.tipoEmpleado_id} == ${te.tipoEmpleado_id}"/>
				</select>
			</div>
			
			<div class="form-group">
				<label for="departamento">Departamento</label> 
				
				<select th:if="${selectedOn==null}" class="form-control" id="departamento" name="departamento">
					<option value="0">Seleccione</option>
					<option th:each="dpto:${listaDepartamento}" th:value="${dpto.departamento_id}" th:text="${dpto.desc_departamento}"/>
				</select>
				
				<select th:if="${selectedOn}" class="form-control" id="departamento" name="departamento">
					<option value="0">Seleccione</option>
					<option th:each="dpto:${listaDepartamento}" th:value="${dpto.departamento_id}" th:text="${dpto.desc_departamento}"
					th:selected="${empleado.departamento.departamento_id} == ${dpto.departamento_id}"/>
				</select>
			</div>
			
			<div class="form-group">
				<label for="estadoCivil">Estado Civil</label> 
				
				<select th:if="${selectedOn==null}" class="form-control" id="estadoCivil" name="estadoCivil">
					<option value="0">Seleccione</option>
					<option th:each="ec:${listaEstadoCivil}" th:value="${ec.estadoCivil_id}" th:text="${ec.estadoCivil_desc}"/>
				</select>
				
				<select th:if="${selectedOn}" class="form-control" id="estadoCivil" name="estadoCivil">
					<option value="0">Seleccione</option>
					<option th:each="ec:${listaEstadoCivil}" th:value="${ec.estadoCivil_id}" th:text="${ec.estadoCivil_desc}"
					th:selected="${empleado.estadoCivil.estadoCivil_id} == ${ec.estadoCivil_id}"/>
				</select>
			</div>
			
			
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
	
</body>
</html>